.NavBar {
  display: flex;
  min-height: 15vh;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(230deg, #61dafb, #282c34);
}
.NavBar * {
  color: white;
  text-decoration: none;
  margin: 20px;
}
#MyName {
  font-size: calc(10px + 2vmin);
  font-weight: 400;
}
.nav-links {
  font-size: calc(8px + 2vmin);
  font-weight: 350;
}
